@model IEnumerable<JBOFarmersMkt.Models.Department>

@{
    ViewBag.Title = "Store";
}

<h2>Browse Categories</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.name, "Browse", new { dept = item.name })</li>
    }
</ul>